services:
  redis:
    image: redis:7-alpine
    container_name: product-api-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  app:
    build: .
    container_name: product-api-app
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      # Override .env values for Docker network
      REDIS_HOST: redis
      REDIS_PORT: 6379
    # Add DNS servers for MongoDB Atlas resolution
    dns:
      - 8.8.8.8
      - 8.8.4.4
    depends_on:
      - redis

volumes:
  redis_data: